
/*.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
    background: white;
    margin-top: 20px;
}

.container ul{
    padding: 0px;
    margin: 0px;
}


.container ul li{
    float:left;
    list-style: none;
    width:20%;
    height:150px;
    background: white;
    margin :20px 0px 20px 55px; 
    border:2px solid blue;
    box-sizing: border-box;
}
.container ul li:hover{
    opacity: 0.8;
}

.container ul li .bottom{
    width: 100%;
    height:50px;
    line-height: 50px;
    background: blue;    
    text-align: center;
    color:white;
    font-size: 20px;
   
}

@media screen and (max-width:1250px){
    .container ul li{
        width:40%;
        margin-left: 40px;
         
    }
    /*card*/
    body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 5px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: /*0 4px 8px 0 rgba(0,0,0,0.2)*/;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}